.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.exercise {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 6rem;
  min-height: 100vh;
}

.link {
  font-size: larger;
  color: #2196f3;
  margin: 10px 0;
}